body {
	background: #111;
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: #ebd694;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
}
#canvas {
	width: 100vw;
	height: calc(min(100vh, 100vmin));
	margin: 0 auto;
	border: solid 1vmin transparent;
}
b, #canvas {
	display: block;
	box-sizing: border-box;
	text-align: left;
}
i { /* button */
	display: inline-block;
	border: solid 1px #ebd694;
	color: #ebd694;
	padding: 0.5em;
	cursor: pointer;
}
i:hover {
	color: #2a242b;
	background: #ebd694;
}
/* canvas { image-rendering: pixelated; } */
#goals, #si {
	position: absolute;
	top: 0;
	right: 1.5vmin;
	list-style-type: square;
	text-align: left;
	transition: 2s all;
}
#si {
	right: unset;
	left: 1.5vmin;
	color: #8bc7bf;
	font-family: 'Courier New', Courier, monospace;
}
.done {
	text-decoration: line-through;
	opacity: 0.5;
}
#end, #dialog, #hi {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background: rgba(0, 0, 0, .7);
	align-items: center;
	gap: 3vmin;
	font-size: calc(.8em + 1vw);
}
#dialog {
	display: flex;
	padding: 1vmin 3vmin;
	min-height: 40vmin;
	border: solid 0.5vmin #ebd694;
	background: repeating-linear-gradient(
		0deg,
		rgba(0,0,0,.8),
		rgba(0,0,0,.8) 10px,
		rgba(33,33,33,.8) 10px,
		rgba(33,33,33,.8) 20px
	);
	transition: 1s ease-in-out all;
	transform: scale(0);
	filter: blur(3px);
	color: transparent;
}
#dialog.show {
	transform: scale(1);
	filter: blur(0);
	color: #ebd694;
}
#pic {
	display: flex;
	align-items: center;
	/* background: rgba(60, 60, 60, .7); */
	background: rgb(82, 75, 179, .3);
	/* width: 45vmin;
	height: 45vmin; */
}
#pic img {
	width: 100%;
}
#end, #hi {
	display: none;
	height: 100vh;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 2em;
	color: #b0455a;
}
.end {
	filter: blur(3px);
}
#hi {
	display: flex;
	color: #8bc7bf;
	text-align: center;
	font-size: calc(.8em + 1vw);
	padding: 1vmin calc(10vmin + 10vw);
	perspective: 50vw;
}
#hi h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: .3em;
	margin: 0;
}
#intro {
	transform: rotateX(30deg);
	text-align: justify;
	max-width: 28em;
}
.st, #bi { /* sub title, bottom info */
	font-size: .5em;
	color: #5796a1;
}
.ui--off #si,
.ui--off #goals {
	opacity: 0;
}
